@model IEnumerable<Hotel.Models.Client>
@{
    ViewData["Title"] = "Клиент";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Клиент</h2>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientFio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientPassportData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientFio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientPassportData)
                </td>
            </tr>
        }
    </tbody>
</table>